.logo {
    margin-left: 3.8rem;
    padding-top: 1.6rem;

}

.logo__link {
        background: url('../../imgs/logo.svg') no-repeat;
        display: inline-block;
        background-size: 105%;
        height: 4rem; /* 40px */
        width: 7.5rem; /* 70px */
}

@media  screen and (max-width: 1024px) {
    .logo {
        margin-left: 2.2rem;
        padding-top: 2.0rem;
    }
    .logo__link {
        height: 3.2rem;
        width: 5.8rem;
    }
}

@media  screen and (min-width: 1920px) {
    .logo {
        margin-left: 7.2rem;
        padding-top: 3.2rem;
    }
    .logo__link {
        height: 8rem;
        width: 15rem;
    }
}